#BG{
    background-color: white;
}
#form{
    margin-top: 55px;
    width: 450px;
    padding: 25px;
    background-color: rgb(243, 235, 235);
    border-radius: 10px;
}
#form1{
    background-color: rgb(6, 155, 6);
    width: 1000px;
    padding: 30px 30px 30px 30px;
    margin: 20px 200px 10px 200px;
    color: white;
}
#form2{
    padding: 30px;
    color: rgb(230, 230, 230);
    background-color: rgb(35, 5, 59);
    width: 1000px;
    margin: 30px;
}
#form3{
    color: rgb(230, 230, 230);
    background-color: rgb(37, 179, 37);
    padding: 10px;
    margin-bottom: 10px;
    height: 410px;
}
#form4{
    color: rgb(230, 230, 230);
    background-color: rgb(62, 160, 62);
    padding: 10px;
    margin-bottom: 10px;
}
#judul{
    margin-top: 30px;
    background-color: rgb(250, 237, 237);
    text-align: center;
    padding: 10px;
}
#judul1{
    margin: 30px;
    background-color: rgb(253, 252, 252);
    text-align: center;
    padding: 10px;
}
#judul2{
    margin: 20px 200px 10px 200px;
    background-color: rgb(224, 217, 217);
    text-align: center;
    width: 1000px;
    padding: 5px;
}
.btn-mycustome{
    background-color: rgb(6, 155, 6);
    color: white;
}
.logo-mycustome{
    position:absolute;
    font-size: 35px;
    background: rgb(6, 155, 6);
    color: white;
    padding: 10px 18px;
    top: 15px;
    border-radius: 50%;
    margin-left: 168px;
}
#body-row {
    margin-left:0;
    margin-right:0;
}

.logo-separator {
    background-color: #333;    
    height: 60px;
}

.table1 {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#table2{
    font-family: sans-serif;
    width: 1500px;
    padding-left: 10px;
}
#posisifix{
    position: fixed;
    width: 100%;
}
#footer{
    padding-top: 1px;
    background-color:rgb(51, 143, 51);
    color: rgb(217, 230, 217);
}
.main{
    margin-top: 10px;
    padding-top: 5px;
}
.sidebar{
    margin-top:57px;
    margin-left: 10px;
    background-color: whitesmoke;
    padding-top: 10px;
    height: 710px;
}
.profil{
    margin-left: 60px;
    margin-top:57px;
    padding-left: 40px;
}
.course{
    margin-top:70px;
    padding-left: 150px;
    padding-top: 20px;
}
.course1{
    margin-top:0px;
    padding-left: 150px;
    padding-top: 10px;
}
#course{
    margin-left: 200px;
    background-color: rgb(47, 175, 47);
    color: whitesmoke;
    width: 1000px;
    padding: 10px;
}
#dashboard{
    margin-left: 400px;
    margin-top:57px;
    padding-left: 40px;
}
.isi{
    margin-top: 0px;
}
#active{
    background-color:rgb(19, 226, 19);
    color:white;
}
.logout{
    margin-top: 50px;
    margin-left:16px
}

.update{
    margin-left:1050px;
    width:150px;
}
#foto{
    margin-top: 0px;
    padding-top: 0px;
}
